* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #7B7B7B;
}


/* BUTTON SUBMIT */

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  background-color: #0097B2;
  overflow: hidden;
  transition: 31ms cubic-bezier(.5, .7, .4, 1);
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}

button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

button:hover:before {
  transition: all .0s;
  transform: translateY(100%);
  opacity: 0;
}

button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

button:hover i {
  transition: all .2s ease;
  transform: translateY(0px);
  opacity: 1;
}

button:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}

button:hover i:nth-child(11) {
  transition-delay: calc(0.045s * 11);
}

button:hover i:nth-child(12) {
  transition-delay: calc(0.045s * 12);
}

button:hover i:nth-child(13) {
  transition-delay: calc(0.045s * 13);
}

button:hover i:nth-child(14) {
  transition-delay: calc(0.045s * 14);
}

button:hover i:nth-child(15) {
  transition-delay: calc(0.045s * 15);
}

/* NAVBAR */

.NavBar {
  border-bottom: 2px solid #D3D3D3;
}

.NavBar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.NavBar .NavBar-containe a .logo {
  width: 100%;
  object-fit: cover;
}

.purchase-and-rental-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.purchase-and-rental-link .purchase-and-rental-link-style {
  text-decoration: none;
  color: #7B7B7B;
  font-weight: 600;
  font-size: 1.1rem;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 300px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: #0097b2a8;
  background-color: #fff;
  box-shadow: 0 0 0 4px #0097b24f;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}


.login-and-register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.login-and-register .login-and-register-style {
  text-decoration: none;
  color: #7B7B7B;
}

.userAndcart-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user {
  font-size: 2rem;
  cursor: pointer;
}

.cart {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  color: black;
}

.cart-count {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.877);
  color: white;
  padding: 2px;
  width: 25px;
  display: flex;
  justify-content: center;
  top: -2px;
  height: 25px;
  right: -15px;
  border-radius: 50%;
}

.cart-count p {
  font-size: 1rem;
  font-weight: 500;
}

.sidebar-of-navbar {
  position: absolute;
  background-color: tomato;
  width: 200px;
  z-index: 99;
  overflow: hidden;
  height: 0px;
  right: 0%;
  transition: 0.5s ease-in-out;
}

.sidebar-of-navbar .sidebar-of-navbar-title {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.sidebar-of-navbar.open {
  height: 150px;
}

.sidebar-of-navbar-container .link-to-navbar {
  color: white;
  gap: 20px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onSidebarOfAboveNavbar {
  color: #7B7B7B;
  display: none;
}

.onSidebarOfNavbar {
  color: #7B7B7B;
  display: none;
}

.closeSidebar {
  cursor: pointer;
}

.onSidebar {
  cursor: pointer;
}

/* BANNER */
.image-carousel {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* CATEGORY */

.title-category {
  font-size: 2rem;
  color: #7B7B7B;
}

.section-title-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
}

.section-title-category .section-box-category {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-title-category .section-box-category .div-empty {
  position: relative;
  height: 35px;
  width: 5px;
  background-color: #0097B2;
  box-sizing: initial;
}

.title-category span {
  color: #0097B2;
}

.section-item-category .section-item-box {
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.section-item-category .section-item-box .section-item-image img {
  height: 250px;
  width: 150px;
  object-fit: cover;
  border-radius: 20px;
}

/* REGISTER PAGE */

.register {
  background-color: #D3D3D3;
}

.inscription {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: #0097B2;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  background-color: #FFF;
  height: 600px;
}

.iconRegister {
  position: relative;
  height: 100px;
  width: 100px;
}

.iconRegister img{
  height: 80px;
}

.iconRegister form label div{
  font-size: .7rem;
  font-weight: 600;
  background-color: #d3d3d3a4;
  position: absolute;
  bottom: 10px;
}

.iconRegister form label {
  cursor: pointer;
}

.iconRegister form input {
  visibility: hidden;
}

.image-register img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.register-social-networks {
  margin: 10px 0;
}

.register-social-networks h3 {
  font-size: 1.2rem;
  text-align: center;
}

.register-social-networks img {
  height: 20px;
  width: 20px;
}

.register-social-networks-box {
  display: flex;
  gap: 20px;
  width: 300px;
}

.register-social-networks-box-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #00000070;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.register-social-networks-box-content div {
  font-family: inherit;
  font-weight: 600;
}

/* INPUT REGISTER */

.input-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.input-container>span,
.input-container .input {
  white-space: nowrap;
  display: block;
}

.input-container>span,
.input-container .input:first-child {
  border-radius: 6px 0 0 6px;
}

.input-container>span,
.input-container .input {
  border-radius: 0 6px 6px 0;
}

.input-container>span,
.input-container .input {
  margin-left: -1px;
}

.input-container>span {
  cursor: pointer;
}

.input-container .input-global {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-container span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #6b7385;
  background: #d4def5;
  border: 1px solid #CDD9ED;
  font-weight: bold;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.input-container:focus-within>span {
  color: #fff;
  background-color: tomato;
  border-color: rgba(0, 0, 0, 0.349);
}

.input-global {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  appearance: none;
  color: #99A3BA;
  border: 1px solid #CDD9ED;
  background: #fff;
  transition: border 0.3s ease;
}

.input-global::placeholder {
  color: #CBD1DC;
}

.input-global:focus {
  outline: none;
  border-color: #148cd1;
}

/* LOGIN PAGE */

.login {
  background-color: #D3D3D3;
}

.connexion {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #0097B2;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  background-color: #FFF;
  height: 350px;
}

.image-login img {
  width: 350px;
  height: 400px;
  object-fit: contain;
}

.login-social-networks {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  margin: auto;
}

.login-social-networks h3 {
  font-size: 1.2rem;
}

.login-social-networks img {
  height: 30px;
  width: 30px;
}

.login-social-networks-box {
  display: flex;
  gap: 20px;
}

.ifHeDoesntHaveAccount {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.ifHeDoesntHaveAccount div {
  font-size: 1rem;
  font-weight: 600;
}

.ifHeDoesntHaveAccount:last-child {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

/* COMPUTERS */

.computer {
  margin-top: 40px;
}

.computer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.item-marque {
  font-size: 1.2rem;
}

.item-title-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.item-title-price .price {
  font-weight: 600;
}

/* ITEM-DETAIL */

.item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
}

.item-part-of-image {
  width: 100%;
}

.item-part-of-image img {
  width: 350px;
  object-fit: cover;
}

.item-title-box .bar {
  border-bottom: 1px solid #D3D3D3;
  margin: 10px 0;
}

.description {
  font-size: 1rem;
}

.couleur,
.prix {
  font-size: 1.1rem;
  font-weight: 600;
}

.item-title {
  font-size: 1.5rem;
}

.item-title-box .cart {
  display: flex;
}

.addCart,
.deleteFromCart {
  background-color: #D3D3D3;
  color: black;
  width: 50px;
  text-align: center;
  padding: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addCart {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.deleteFromCart {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.numberInCart {
  background-color: #acacac;
  color: black;
  width: 50px;
  text-align: center;
  padding: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.product-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
}

.title-of-item-detail {
  font-size: 1.5rem;
}

.array-of-item-detail {
  background-color: #D3D3D3;
  width: 50%;
  border-radius: 4px;
  margin: 20px 0px;
}

.array-of-item-detail .title-detail {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.array-of-item-detail .content-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px 20px 20px;
}

.array-of-item-detail .content-detail div {
  font-family: inherit;
  font-weight: 600;
  padding: 2px 10px;
}

.array-of-item-detail .content-detail .detail-to-white {
  background-color: white;
  border-radius: 2px;
}


/* COMPONENTS */

/* ICON CART */

.button-container {
  display: flex;
  gap: 20px;
}

.button-cart {
  margin-top: 20px;
}

.button-cart a {
  border: none;
  background-color: #0097B2;
  border-radius: 20px;
  padding: 8px 10px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* BUTTON BUY */

.button-buy {
  margin-top: 20px;
}

.button-buy a {
  border: none;
  background-color: #0097B2;
  border-radius: 20px;
  padding: 8px 10px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* FOOTER */

.footer {
  background-color: #0097B2;
  padding: 30px;
}

.footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  border-bottom: 2px solid white;
  padding: 20px;
  gap: 10px;
}

.about-title, .service-title, .contact-title {
  font-size: 1.5rem;
  font-family: inherit;
  color: white;
  font-weight: 700;
}

.about-container, .service-container, .contact-container {
  font-size: 1rem;
  font-family: inherit;
  color: black;
  font-weight: 500;
}

.footer-payement {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  gap: 10px;
  padding: 20px;
  gap: 10px;
}

.footer-payement .footer-payement-img {
  margin-top: 20px;
}


.footer-payement .footer-payement-img img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.footer-payement .footer-payement-img img+img{
  margin-left: 10px;
}

.footer-payement-title{
  font-size: 1.5rem;
  font-family: inherit;
  color: white;
  font-weight: 700;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  .NavBar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: auto;
  }

  /* NAVBAR */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 10px 0;
  }

  .sidebarOfCategorie-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .NavBar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: auto;
  }

  .search-container {
    width: 220px;
    padding: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px;
    background-color: #D3D3D3;
  }

  .input-search {
    border: none;
    outline: none;
    border-radius: 20px;
    height: 30px;
    padding: 5px;
    background-color: #D3D3D3;
    width: 180px;
  }

  /* NAVBAR */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 10px 0;
  }

  .sidebarOfCategorie-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: auto;
  }

  /* BANNER */
  .image-carousel {
    width: 100%;
    height: 450px;
    object-fit: contain;
  }

  /* CATEGORY */
  .section-title-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
  }
}


@media only screen and (max-width: 425px) {
  .NavBar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }

  .logo {
    height: 50px;
    width: 100%;
    object-fit: cover;
  }

  .search-container {
    width: 220px;
    padding: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px;
    background-color: #D3D3D3;
  }

  .purchase-and-rental-link {
    display: none;
  }

  .login-and-register {
    display: none;
  }

  .input {
    height: 30px;
  }

  .onSidebarOfNavbar {
    display: block;
  }

  /* CATEGORY */
  .title-category {
    font-size: 1.3rem;
    color: #7B7B7B;
  }

  .section-title-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding-top: 40px;
  }

  .section-title-category .section-box-category .div-empty {
    position: relative;
    height: 28px;
    width: 5px;
    background-color: #0097B2;
    box-sizing: initial;
  }

  .section-title-category .section-box-category {
    gap: 10px;
  }
}